@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    padding: 0;
    margin: 0;
}

.landing{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9) ), url('https://i.pinimg.com/736x/c9/af/43/c9af431cdb9322e4ff4a43af70db96ae.jpg');
    font-family: 'Poppins', sans-serif;
    background-position: center;
    height: 100vh;
}
.landing .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.landing ul li{
    list-style: none;
    font-size: 1.2rem;
}
ul li:nth-child(2){
    margin-left: 20px;
}
h1{
    font-size: 3rem;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.started{
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 70%;
    left: 45%;
}
.svg{
    position: absolute;
    font-size: 2rem;
    top: 1;
    left: 1;
    margin-left: 0.5rem;
    fill: #4CAF50;

}
.landing-text{
    position: relative;
    font-size: 2rem;
    color: white;
    text-align: center;
    width: 800px;
    left: 22%;
}